.container
	header.top20
		.row
			.span7
				.logo.left50.pull-left.right30
					img(src="/img/jpp.png")
				h1
					a(href="/") Journalism++
					
					if locals.city
						span.city!=" | " + locals.city + "<br />"
					else
						!="<br />"

					small=_("Data-driven stories")
			.span5
				ul.tr.unstyled.select-lang.right50 									
					- if(typeof about != "undefined")
						li.about
							a(href="#about") !{about.title}
					- ["fr", "en", "de", "sv", "pt"].forEach(function(lang) {
						- if(session.language === lang) {
							li.active
								a(href="/lang/"+lang)=lang.toUpperCase()
						- } else {
							li
								a(href="/lang/"+lang)=lang.toUpperCase()
						- }		
					- });