extends layout
block body
    include layouts/menu
    #main.container
        if locals.about && about.lang != session.language        
            .alert.alert-info.top30.left50.right50            
                =_("This page is only available in English. We're working on translating it in your language.")  

        #portfolio
            ul.unstyled.js-wrapper.row
                - if(posts && typeof posts !== "array")
                    - posts.forEach(function(item) {
                        li.js-card
                            .view
                                .wrapper
                                    img(src=item.thumbnail)
                                .legend
                                    h2.slabtexted.hidden-phone !{item.title}
                                    h2.visible-phone.tl !{item.title}
                                    .btn.btn-primary.btn=_("See more")
                            .about      
                                .row    
                                
                                    .visible-desktop
                                        a.back
                                            i.icon-circle-arrow-left.icon-white
                                            =_("Back")
                                    
                                        h3 !{item.title}
                                        article !{item.content}

                                        - if(item.tags.length > 0)
                                            ul.tags.unstyled
                                                - item.tags.forEach(function(tag) {
                                                    li=tag.title
                                                - })            

                                        - if(item.siteurl)
                                            a(href=item.siteurl, rel='external').siteurl
                                                i.icon-globe.icon-white
                                                =item.siteurl       

                                    .hidden-desktop
                                        a.back
                                            i.icon-circle-arrow-left.icon-white
                                            =_("Back")
                                    
                                        h3 !{item.title}
                                        article !{item.content}

                                        - if(item.siteurl)
                                            a(href=item.siteurl, rel='external').siteurl
                                                i.icon-globe.icon-white
                                                =item.siteurl                           
                    - })

        - if(typeof posts !== "array")
            ul#portfolio-nav.unstyled
                - posts.forEach(function(item) {
                        li.right10
                - })    

        hr.soften

        ul#team.row.no-bullet.top40
            li.span2.offset3
                .pp
                    img(src="/img/team/ddjelle.jpg")
                .link
                    a(href="http://twitter.com/ddjelle", rel='external')
                        img(src="/img/twitter-bird-dark-bgs.png").left05
                h3 Jelle<br />Kamsma
                p=_("Datajournalist")
            li.span2
                .pp
                    img(src="/img/team/yordidam.jpg")
                .link
                    a(href="http://twitter.com/yordidam", rel='external')
                        img(src="/img/twitter-bird-dark-bgs.png").left05
                h3 Yordi<br />Dam
                p=_("Designer")
            li.span2
                .pp
                    img(src="/img/team/ehwillems.jpg")
                .link
                    a(href="http://twitter.com/ehwillems", rel='external')
                        img(src="/img/twitter-bird-dark-bgs.png").left05
                h3 Erik<br />Willems
                p=_("Programmer")

    hr.soften

    .container
        -if( about )
            #about
                .row
                    .span10.offset1
                        h2 !{about.title}
                        article !{about.content}