extends layout
block body
    include layouts/menu
    #main.container

        if locals.about && about.lang != session.language        
            .alert.alert-info.top30.left50.right50            
                =_("This page is only available in English. We're working on translating it in your language.")  

        #portfolio
            ul.unstyled.js-wrapper.row
                - if(posts && typeof posts !== "array")
                    - posts.forEach(function(item) {
                        li.js-card
                            .view
                                .wrapper
                                    img(src=item.thumbnail)
                                .legend
                                    h2.slabtexted.hidden-phone !{item.title}
                                    h2.visible-phone.tl !{item.title}
                                    .btn.btn-primary.btn=_("See more")
                            .about      
                                .row    
                                
                                    .visible-desktop
                                        a.back
                                            i.icon-circle-arrow-left.icon-white
                                            =_("Back")
                                    
                                        h3 !{item.title}
                                        article !{item.content}
                                        - if(item.tags !== undefined)
                                            - if(item.tags.length > 0)
                                                ul.tags.unstyled
                                                    - item.tags.forEach(function(tag) {
                                                        li=tag
                                                    - })            

                                        - if(item.siteurl)
                                            a(href=item.siteurl, rel='external').siteurl
                                                i.icon-globe.icon-white
                                                =item.siteurl       

                                    .hidden-desktop
                                        a.back
                                            i.icon-circle-arrow-left.icon-white
                                            =_("Back")
                                    
                                        h3 !{item.title}
                                        article !{item.content}

                                        - if(item.siteurl)
                                            a(href=item.siteurl, rel='external').siteurl
                                                i.icon-globe.icon-white
                                                =item.siteurl                           
                    - })

        - if(typeof posts !== "array")
            ul#portfolio-nav.unstyled
                - posts.forEach(function(item) {
                    li.right10
                - })    

        hr.soften

        ul#team.row.no-bullet.top40
            li.span2.offset1
                .pp
                    img(src="/img/team/mirko.png")
                .link
                    a(href="https://twitter.com/mirkolorenz", rel='external')
                        img(src="/img/twitter-bird-dark-bgs.png").left05
                h3 Mirko<br />Lorenz 
                p=_("CEO &bullet; Data-journalist")
            li.span2
                .pp
                    img(src="/img/team/pr.jpg")
                .link
                    a(href="http://twitter.com/pirhoo", rel='external')
                        img(src="/img/twitter-bird-dark-bgs.png").left05
                h3 Pierre<br />Romera 
                p=_("CTO &bullet; Developer")

        hr.soften
        
        h2.left100=_("Clients & Partners")

    #references.bottom20
        .container
            .row    
                .active.span2.offset1
                    img(src="/img/logo/afp.png", alt="afp")
                .active.span2
                    img(src="/img/logo/guardian.png", alt="guardian")
                .active.span2
                    img(src="/img/logo/arte.png", alt="arte")
                .active.span2
                    img(src="/img/logo/abzv.png", alt="abzv")
                .active.span2
                    img(src="/img/logo/esj.png", alt="esj")
    -if( about )
        .container
            #about
                .row
                    .span10.offset1
                        h2 !{about.title}
                        article !{about.content}


