

include layouts/menu
#main.container

	#portfolio
		ul.unstyled.js-wrapper.row
			- if(typeof posts !== "array")
				- posts.forEach(function(item) {
					li.span12.js-card
						.view
							.legend
								h2.slabtexted !{item.title}
								strong.btn.btn-primary=_("En savoir plus")
							.wrapper
								- if(item.thumbnail)
									img(src=item.thumbnail)
								else
									img(src="/images/gallery/4268986830_edccb88587_b_d.jpg")
						.about		
							.row	
								a.back
									i.icon-circle-arrow-left.icon-white
									=_("Retour")
								h3 !{item.title}
								article !{item.content}
								- if(item.siteurl)
									a(href=item.siteurl).siteurl
										i.icon-globe.icon-white
										=item.siteurl
								- if(item.tags.length > 0)
									ul.tags.unstyled
										- item.tags.forEach(function(tag) {
											li=tag.title
										- })										
				- })

	- if(typeof posts !== "array")
		ul#portfolio-nav.unstyled
			- posts.forEach(function(item) {
					li.right10
			- })			

	hr.soften

	ul#team.row.no-bullet.top40
		li.span2.offset2
			.pp
				img(src="/images/team/nkb.jpg")
			.link
				a(href="http://nkb.fr")
					i.left05.icon-play.icon-white
			h3 Nicolas Kayser-Bril 
			p CEO &bullet; Data-journalist
		li.span2.offset1
			.pp
				img(src="/images/team/pr.jpg")
			.link
				a(href="http://pirhoo.com")
					i.left05.icon-play.icon-white
			h3 Pierre Romera 
			p CTO &bullet; Développeur
		li.span2.offset1
			.pp
				img(src="/images/team/alb.jpg")
			.link
				a(href="")
					i.left05.icon-play.icon-white
			h3 Anne-Lise Bouyer 
			p Chef de projet

include layouts/footer